<#include "/macro.include"/>
<#assign className = table.className>   
<#assign classNameFirstLower = table.classNameFirstLower>   
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<#macro mapperEl value>${r"#{"}${value}}</#macro>
<mapper namespace="${basepackage}.dao.mysql.${className}Mapper">

	<resultMap id="BaseResultMap" type="${basepackage}.model.${subpackage}.${className}">
        <#list table.columns as column>
		<result property="${column.columnNameLower}" column="${column.sqlName}"/>
		</#list>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		<#list table.columns as column>${column.sqlName}<#if column_has_next>,</#if></#list>
	</sql>
	
	<select id="getById" parameterType="int" resultMap="BaseResultMap">
		select
			<include refid="columns" />
		from
			${table.sqlName}
		where
			id = <@mapperEl "id"/>
	</select>
	
	<select id="countBy" resultMap="BaseResultMap">
		select
			count(*)
		from
			${table.sqlName}
		where
			1=1
		<#list table.columns as column>
			<if test="${column.columnNameFirstLower} != null">
			  and ${column.sqlName} = <@mapperEl column.columnNameFirstLower/>
			</if>
		</#list>
	</select>
	
	<select id="getPageList" resultMap="BaseResultMap">
		select
			<include refid="columns" />
		from
			${table.sqlName}
		where
			1=1
		<#list table.columns as column>
			<if test="${column.columnNameFirstLower} != null">
			  and ${column.sqlName} = <@mapperEl column.columnNameFirstLower/>
			</if>
		</#list>
	</select>
	
	<update id="update" parameterType="${basepackage}.dao.${className}">
		update ${table.sqlName}
		<set>
			<#list table.notPkColumns as column>
			<if test="${column.columnNameFirstLower} != null">
			  ${column.sqlName} = <@mapperEl column.columnNameFirstLower/>,
			</if>
	        </#list>
		</set>
		where
			id = <@mapperEl "id"/>
	</update>
	
	<delete id="delete" parameterType="int">
		delete from ${table.sqlName} 
		where
			id = <@mapperEl "id"/>
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="${basepackage}.dao.${className}">
		insert into ${table.sqlName} (
		<#list table.columns as column>
			<#if !column.pk>
			${column.sqlName}<#if column_has_next>,</#if>
        	</#if>
        </#list>
		)values (
	    <#list table.columns as column>
	    	<#if !column.pk>
			<@mapperEl column.columnNameFirstLower/><#if column_has_next>,</#if>
	    	</#if>
        </#list>
		)
	</insert>
	
</mapper>