${gg.setOverride(false)}
<#include "/macro.include"/>
<#assign className = table.className>   
<#assign classNameFirstLower = table.classNameFirstLower>   
<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
<#include "/macro.include"/>
<#include "/java_copyright.include">

/**
 * Created by IntelliJ IDEA.
 *
 * @author <a href="mailto:zhdqCN@gmail.com">Richard Zhou</a>
 * @version 1.0
 * @CreationTime: <#if now??>- ${now?string('yyyy-MM-dd HH:mm:ss')}</#if>
 * @Description:
 */
 -->
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 存放手写的sql -->
<mapper namespace="${basepackage}.${subpackage}.dao.${className}MybatisDao">
	
	
</mapper>
